.list__like{
    border: none;
    box-sizing: border-box;
    background: transparent;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 19px;
    margin: 0;
   /* margin-right: 0;*/
    margin-left: auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: linear 1s;
    position: relative;
    /*left: 0px;*/
    top: -19px;
    right: 20px;
}
.list__like:hover{
    opacity: 0.5;
}