.login__input{
    color: #CCCCCC;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    margin: 0;
    margin-left: 36px;
    margin-bottom: 5px;
    padding: 0;
    background-color: black;
}
.login__input::placeholder{
    color: #CCCCCC;
}
@media screen and (max-width: 600px){
    .login__input{
        max-width: 238px;
        margin-left: 22px;
    }
  }